*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}
.header{
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;
    background: #230007;
    width: 100% auto;
    height: 76px;
    justify-content: space-between;
    z-index: 1;
    margin: 0 auto;
    padding: 0 50px;
}
.navigation .menu-bars #bars{
    font-size: 35px;
    background: transparent;
    color: #fff;
}
#spacer{
    font-size: 12px;
    background: #fff;
    height: 40px;
    width: 3px;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-left: 40px;
    transition: 0.5s;
}
.open-chat{
    justify-content: center;
    align-items: baseline;
    width: 30px;
    height: 30px;
    opacity: 100%;
}
.chat{
    margin-left: 0px;
    list-style: table;
    text-align: center;
}
#p-text{
    font-size: 9px; 
    margin-left: 30px;
    margin-bottom: 7px; 
    color: #fff;
}
.navbar-menu{
    display: grid;
    justify-content: left;
    align-items: center;
    text-align: center;
    background: #e5e5e5; 
    width: 0;
    height: 100%;
    max-height: 720px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 100%;
    overflow-x: hidden;
    padding-top: 0;
    transition: 0.5s;
    overflow-y: hidden;
    -webkit-backdrop-filter: blur(80px);
    backdrop-filter: blur(80px);
}
#close-menu{
    font-size: 35px;
    background: transparent;
    padding-top: 100px;
    margin-right: 130px;
    color: #fff;
}
.account-data{
    margin-bottom: 340px;
    margin-right: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.search{
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: left;
    min-width: 357px;
    height: 40px;
    transition: 0.5 ease;
    background: white;
    margin-left: 415px;
    border-radius: 6px;
    position: relative;
}
.account-data{
    padding-top: 60px;
    margin-right: 200px;
    text-align: left;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.call-data{
    padding: 12px;
}
.namespace{
    font-size: 35px;
    color: #fff;
    margin-left: 17px;
}
#searchInput{
    border: none; 
    height: 27px; 
    width: 317px; 
    font-size: 18px;
}
.logo{
    background: transparent; 
    min-width: 320px; 
    height: 55px; 
    justify-content: left; 
    text-align: center; 
    align-items: center;
    display: flex;
}
#cht-img{
    width: 30px;
    height: 25px;
}
.home-page{
    justify-content: right;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 1980px;
    height: 100%;
    max-height: fit-content;
    background: transparent;
}
.home-content{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.promotion{
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    height: 100%;
    background: transparent;
    max-width: 1400px;
    max-height: fit-content;
    border-radius: none;
    justify-content: center;
    align-items: center;
}
.promotion .promo-table{
    width: 1080px;
    height: 287px;
    background: #ba7ba1;
    border-radius: 14px;
}
.proc{
    width: 236px;
    height: 338px;
    background: #ba7ba1;
    border-radius: 15px;
    margin: 22px;
}
.account{
    padding-top: 40px;
    padding-right: 40px;
    background: #FCA311;
    width: 105%;
    height: 115%;
}
#acc-prof{
    width: 200px; 
    height: 200px;
    border-radius: 199px;}
.phi-border{
    width: 200px; 
    height: 200px; 
    background: floralwhite; 
    border-radius: 199px; 
    transition: 0.5s;
}
#pop-up{
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 200%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    visibility: hidden;
}
#p-box{
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    text-align: left;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 485px;
    height: 565px;
    background: #fff;
    border-radius: 10px;
    z-index: 1;
    display: block;
}
@media screen and (max-width:960px) {
    .logo{
        min-width: 150px;
    }
    .search{
        min-width: 120px;
        height: 34px;
        margin-left: 60px;
        background: white;
    }
    #searchInput{
        min-width: 60px;
        height: 20px;
        font-size: 12px;
    }
    .namespace{
        font-size: 15px;
    }
    #spacer{
        height: 18px;
        width: 1px;
        margin-left: 40px;
        transition: 0.8s;
        position: unset;
    }
    .navigation .menu-bars #bars{
        font-size: 22px;
        margin-left: -40px;
    }
    #cht-img{
        width: 18px;
        height: 21px;
    }
    #sch-img{
        width: 19px;
        height: 19px;
    }
    .navbar-menu{
        max-width: 220px;
        transition: 0.8s;
        background: linear-gradient(
        to top,
        #e5e5e5 20%, 
        #e5e5e5 20%, 
        #e5e5e5 40%, 
        #e5e5e5 40%, 
        #e5e5e5 70%, 
        #FCA311 70%, 
        #FCA311 80%, 
        #FCA311 80%,
        #FCA311 100%
        );
    }
    #close-menu{
        font-size: 22px;
    }
    .account-data{
        margin-right: 150px;
    }
    .call-data{
        font-size: 12px;
        padding: 7px;
    }
    .promotion .promo-table{
        width: 456px;
        height: 137px;
        background: #ba7ba1;
        border-radius: 14px;
    }
    .prod{
        width: 100px;
        height: 134px;
        background: #ba7ba1;
        border-radius: 15px;
        margin: 9px;
        margin-top: 10px;
    }
    #acc-prof{
        width: 130px;
        height: 130px;
        border-radius: 129px;
    }
    .phi-border{
        width: 130px;
        height: 130px;
        border-radius: 129px;
        margin-bottom: 20px;
        transition: 0.8s;
    }
}