*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}
.header{
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;
    background: #230007;
    width: 100% auto;
    height: 76px;
    justify-content: space-between;
    z-index: 1;
    margin: 0 auto;
    padding: 0 50px;
}
.navigation .menu-bars #bars{
    font-size: 35px;
    background: transparent;
}
#spacer{
    font-size: 12px;
    background: #fff;
    height: 40px;
    width: 3px;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-left: 40px;
    transition: 0s;
    z-index: 1;
    overflow-x: hidden;
}
.open-chat{
    justify-content: center;
    align-items: baseline;
    width: 30px;
    height: 30px;
    opacity: 100%;
}
.chat{
    margin-left: 0px;
    list-style: table;
    text-align: center;
}
#p-text{
    font-size: 9px; 
    margin-left: 30px;
    margin-bottom: 7px; 
    color: #fff;
}
.navbar-menu{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(
    to top,
    #e5e5e5 20%, 
    #e5e5e5 20%, 
    #e5e5e5 40%, 
    #e5e5e5 40%, 
    #e5e5e5 60%, 
    #FCA311 60%, 
    #FCA311 80%, 
    #FCA311 80%,
    #FCA311 100%
    );
    width: 0;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 100%;
    overflow-x: hidden;
    padding-top: 0;
    transition: 0.5s;
    overflow-y: hidden;
}
#close-menu{
    font-size: 35px;
    background: transparent;
    padding-top: 20px;
    margin-bottom: 150px;
    margin-right: 165px;
    color: #fff;
}
.account-data{
    margin-bottom: 340px;
    margin-right: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.search{
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: left;
    min-width: 357px;
    height: 40px;
    transition: 0.5 ease;
    background: white;
    margin-left: 415px;
    border-radius: 6px;
    position: relative;
}
.account-data{
    padding-top: 60px;
    margin-right: 200px;
    text-align: left;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.call-data{
    padding: 12px;
}